:root { 
    --white-color: #fff;
    --point-color: #2AAC8E;
    --dark-grey: #606060;
    --light-grey: #c8c8c8;
    --dark-1: #2d2d2d;
    --dark-2: #343434;
    --dark-3: #7c7c7c;

    /* kakao */
    --bc-on-control: #3396ff;
} 